In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/gdriv')

Mounted at /content/gdriv

In [3]:
data_path="/content/gdriv/MyDrive/산데과"
data_list=os.listdir(data_path)
train_dt = pd.read_csv(data_path+"/"+data_list[5])
test_dt = pd.read_csv(data_path+"/"+data_list[6])

In [4]:
train_dt.head()

         date_time   T1   T2   T3   T4  ...  T14  T15  observe1  observe2  quality
0  2015-01-04 0:05  277  326  273  322  ...  236  242    153.77      7.90      392
1  2015-01-04 1:05  277  253  272  320  ...  242  230    158.27      6.96      384
2  2015-01-04 2:05  262  218  260  326  ...  251  240    153.36      7.29      393
3  2015-01-04 3:05  243  238  252  327  ...  258  246    153.21      7.11      399
4  2015-01-04 4:05  236  238  245  323  ...  263  265    195.71      7.97      400

[5 rows x 19 columns]

In [5]:
test_dt.head()

          date_time   T1   T2   T3   T4  ...  T14  T15  observe1  observe2  quality
0   2017-04-16 8:05  255  256  257  339  ...  275  276    190.21      6.67      352
1   2017-04-16 9:05  206  264  251  347  ...  282  285    170.96      7.56      366
2  2017-04-16 10:05  192  254  238  368  ...  286  286    171.84      7.21      352
3  2017-04-16 11:05  256  236  217  350  ...  287  284    174.71      8.78      349
4  2017-04-16 12:05  226  225  192  342  ...  286  283    174.55      6.89      341

[5 rows x 19 columns]

# Data전처리

In [6]:
len(test_dt)

9184

In [7]:
len(train_dt)

20000

In [8]:
total_dt = pd.concat([test_dt,train_dt])
total_dt.head()
x=total_dt.iloc[:,1:18]
x.head()

    T1   T2   T3   T4   T5   T6  ...  T12  T13  T14  T15  observe1  observe2
0  255  256  257  339  327  351  ...  317  285  275  276    190.21      6.67
1  206  264  251  347  352  375  ...  327  285  282  285    170.96      7.56
2  192  254  238  368  374  362  ...  297  285  286  286    171.84      7.21
3  256  236  217  350  350  345  ...  213  284  287  284    174.71      8.78
4  226  225  192  342  348  334  ...  249  280  286  283    174.55      6.89

[5 rows x 17 columns]

In [9]:
import sklearn.preprocessing
scaler = sklearn.preprocessing.MinMaxScaler()
x=scaler.fit_transform(x)

In [10]:
x=pd.DataFrame(x)
x

             0         1         2   ...        14        15        16
0      0.489617  0.549708  0.477673  ...  0.540830  0.732977  0.417647
1      0.436066  0.561404  0.469553  ...  0.552878  0.420882  0.522353
2      0.420765  0.546784  0.451962  ...  0.554217  0.435149  0.481176
3      0.490710  0.520468  0.423545  ...  0.551539  0.481680  0.665882
4      0.457923  0.504386  0.389716  ...  0.550201  0.479086  0.443529
...         ...       ...       ...  ...       ...       ...       ...
29179  0.565027  0.538012  0.480379  ...  0.465863  0.450389  0.517647
29180  0.490710  0.545322  0.484438  ...  0.459170  0.739624  0.429412
29181  0.492896  0.567251  0.474966  ...  0.477912  0.727951  0.672941
29182  0.495082  0.557018  0.450609  ...  0.499331  0.768645  0.361176
29183  0.489617  0.557018  0.469553  ...  0.522088  0.700551  0.460000

[29184 rows x 17 columns]

In [62]:
label=total_dt.iloc[:,-1]
x["label"]=list(label)
test_dt = x.iloc[0:9184,]
train_dt = x.iloc[9184:,]

In [12]:
train_dt.sort_values(['label']).reset_index(drop=True)
label_train=[]
for i in range(len(train_dt)):
  if i < int(np.round(len(train_dt)*0.33)):
    label_train.append(0)
  elif i >= int(np.round(len(train_dt)*0.33)) and i< int(np.round(len(train_dt)*0.66)):
    label_train.append(1)
  else:
    label_train.append(2)

pd.Series(label_train).value_counts()

2    6800
1    6600
0    6600
dtype: int64

In [63]:
train_dt = train_dt.iloc[:,0:17]
train_dt

             0         1         2   ...        14        15        16
9184   0.513661  0.652047  0.499323  ...  0.495315  0.142185  0.562353
9185   0.513661  0.545322  0.497970  ...  0.479250  0.215143  0.451765
9186   0.497268  0.494152  0.481732  ...  0.492637  0.135538  0.490588
9187   0.476503  0.523392  0.470907  ...  0.500669  0.133106  0.469412
9188   0.468852  0.523392  0.461434  ...  0.526104  0.822147  0.570588
...         ...       ...       ...  ...       ...       ...       ...
29179  0.565027  0.538012  0.480379  ...  0.465863  0.450389  0.517647
29180  0.490710  0.545322  0.484438  ...  0.459170  0.739624  0.429412
29181  0.492896  0.567251  0.474966  ...  0.477912  0.727951  0.672941
29182  0.495082  0.557018  0.450609  ...  0.499331  0.768645  0.361176
29183  0.489617  0.557018  0.469553  ...  0.522088  0.700551  0.460000

[20000 rows x 17 columns]

In [32]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(train_dt,label_train,test_size=0.3)
print(len(train_x))
print(len(test_x))
print(len(train_y))
print(len(test_y))

14000
6000
14000
6000

# model 생성

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [ ]:
model = RandomForestClassifier()
model = model.fit(train_x,train_y)
pred_test = model.predict(test_x) 
m = confusion_matrix(test_y,pred_test)
acc = np.sum(np.diag(m)/len(test_y))
print("{:0.2f}".format(acc*100))

53.32

In [17]:
model = RandomForestClassifier()
model = model.fit(train_dt,label_train)
pred_test = model.predict(test_x) 
m = confusion_matrix(test_y,pred_test)
acc = np.sum(np.diag(m)/len(test_y))
print("{:0.2f}".format(acc*100))

100.00

In [25]:
model.feature_importances_
fi = pd.concat([pd.DataFrame(list(train_x.columns)),pd.DataFrame(model.feature_importances_)],axis=1)
fi.columns = ["columns","importances"]
print(fi)
fi.sort_values("importances")

    columns  importances
0         0     0.055607
1         1     0.057806
2         2     0.057359
3         3     0.060133
4         4     0.058445
5         5     0.055001
6         6     0.063060
7         7     0.061007
8         8     0.059146
9         9     0.060013
10       10     0.057867
11       11     0.057099
12       12     0.054802
13       13     0.056440
14       14     0.054867
15       15     0.080275
16       16     0.051074

    columns  importances
16       16     0.051074
12       12     0.054802
14       14     0.054867
5         5     0.055001
0         0     0.055607
13       13     0.056440
11       11     0.057099
2         2     0.057359
1         1     0.057806
10       10     0.057867
4         4     0.058445
8         8     0.059146
9         9     0.060013
3         3     0.060133
7         7     0.061007
6         6     0.063060
15       15     0.080275

In [35]:
train_x

             0         1         2   ...        14        15        16
18898  0.462295  0.504386  0.438430  ...  0.493976  0.545558  0.492941
24704  0.513661  0.580409  0.533153  ...  0.536814  0.719682  0.483529
20271  0.534426  0.596491  0.516915  ...  0.527443  0.711738  0.470588
10442  0.477596  0.524854  0.461434  ...  0.523427  0.464818  0.567059
28521  0.486339  0.545322  0.476319  ...  0.443106  0.581550  0.562353
...         ...       ...       ...  ...       ...       ...       ...
14726  0.445902  0.486842  0.414073  ...  0.515395  0.319228  0.787059
15917  0.499454  0.599415  0.512855  ...  0.514056  0.542153  0.478824
12957  0.486339  0.559942  0.493911  ...  0.531459  0.082685  0.514118
18265  0.467760  0.520468  0.335589  ...  0.528782  0.605707  0.416471
25801  0.488525  0.543860  0.476319  ...  0.538153  0.316472  0.597647

[14000 rows x 17 columns]

In [37]:
model_2 = RandomForestClassifier(n_estimators = 1000)#tree의 개수
model_2 = model_2.fit(train_x,train_y)
pred_test = model_2.predict(test_x)
m = confusion_matrix(test_y,pred_test)
acc = np.sum(np.diag(m)/len(test_y))
print("{:0.2f}".format(acc*100))

58.03

In [39]:
model_2.feature_importances_
fi = pd.concat([pd.DataFrame(list(train_x.columns)),pd.DataFrame(model.feature_importances_)],axis=1)
fi.columns = ["columns","importances"]
print(fi)

    columns  importances
0         0     0.087236
1         1     0.085647
2         2     0.086977
3         3     0.084156
4         4     0.090884
5         5     0.086586
6         6     0.087179
7         7     0.090711
8         8     0.088535
9         9     0.092221
10       10     0.119868
11       11          NaN
12       12          NaN
13       13          NaN
14       14          NaN
15       15          NaN
16       16          NaN

In [47]:
res = []
for i in range(1,11):
  model = RandomForestClassifier(n_estimators = i*100)#tree의 개수
  model = model.fit(train_x,train_y)
  pred_test = model.predict(test_x)
  m = confusion_matrix(test_y,pred_test)
  acc = np.sum(np.diag(m)/len(test_y))
  res.append(acc)
  print("{:0.2f} number{}".format(acc*100,i*100))
  model.feature_importances_
  fi = pd.concat([pd.DataFrame(list(train_x.columns)),pd.DataFrame(model.feature_importances_)],axis=1)
  fi.columns = ["columns","importances"]
  fi = fi.sort_values("importances")
  print(fi)

54.90 number100
    columns  importances
14       14     0.055426
12       12     0.055762
13       13     0.056515
2         2     0.057011
1         1     0.057050
16       16     0.057483
0         0     0.057520
5         5     0.057612
11       11     0.058056
10       10     0.058149
8         8     0.059081
4         4     0.059382
9         9     0.059453
3         3     0.059523
7         7     0.059663
6         6     0.060303
15       15     0.072011
55.98 number200
    columns  importances
14       14     0.055690
12       12     0.055722
0         0     0.056417
2         2     0.056563
16       16     0.056997
13       13     0.057078
1         1     0.057126
4         4     0.058195
11       11     0.058347
3         3     0.058388
5         5     0.058742
10       10     0.059326
9         9     0.059392
8         8     0.059528
6         6     0.060128
7         7     0.060244
15       15     0.072118
57.43 number300
    columns  importances
12       12     0.055637
14       14     0.055668
1         1     0.056617
2         2     0.056674
0         0     0.056757
13       13     0.056927
16       16     0.057418
5         5     0.057976
3         3     0.058645
11       11     0.058855
9         9     0.059000
10       10     0.059122
8         8     0.059127
4         4     0.059193
7         7     0.059685
6         6     0.060505
15       15     0.072195
57.72 number400
    columns  importances
14       14     0.055419
12       12     0.055861
1         1     0.056325
2         2     0.056728
0         0     0.056793
13       13     0.057050
16       16     0.057629
5         5     0.058065
11       11     0.058095
3         3     0.058398
10       10     0.058702
4         4     0.058809
9         9     0.059347
8         8     0.059352
6         6     0.060248
7         7     0.060600
15       15     0.072579
57.48 number500
    columns  importances
14       14     0.055823
12       12     0.055860
0         0     0.056224
1         1     0.056316
2         2     0.056536
13       13     0.056709
16       16     0.057481
11       11     0.058097
5         5     0.058372
10       10     0.058771
9         9     0.058997
4         4     0.059126
8         8     0.059331
3         3     0.059346
7         7     0.060275
6         6     0.060474
15       15     0.072261
57.05 number600
    columns  importances
14       14     0.055569
12       12     0.055893
1         1     0.056259
2         2     0.056379
13       13     0.056513
0         0     0.056845
16       16     0.057793
5         5     0.058110
3         3     0.058759
11       11     0.058772
4         4     0.058887
9         9     0.058966
10       10     0.059027
8         8     0.059094
7         7     0.060164
6         6     0.060416
15       15     0.072554
58.10 number700
    columns  importances
14       14     0.055852
12       12     0.055991
1         1     0.056367
0         0     0.056744
2         2     0.056777
13       13     0.056906
16       16     0.057549
5         5     0.058240
11       11     0.058536
9         9     0.058646
3         3     0.058729
4         4     0.059061
10       10     0.059077
8         8     0.059136
6         6     0.060093
7         7     0.060428
15       15     0.071867
58.10 number800
    columns  importances
14       14     0.055643
12       12     0.055973
0         0     0.056394
13       13     0.056461
1         1     0.056515
2         2     0.056591
16       16     0.057271
5         5     0.058234
11       11     0.058705
3         3     0.058806
10       10     0.058828
8         8     0.058986
9         9     0.059137
4         4     0.059276
7         7     0.060449
6         6     0.060558
15       15     0.072173
57.78 number900
    columns  importances
14       14     0.055542
12       12     0.056011
1         1     0.056400
0         0     0.056404
2         2     0.056545
13       13     0.056924
16       16     0.057561
5         5     0.058337
11       11     0.058366
3         3     0.058741
4         4     0.058868
10       10     0.059129
9         9     0.059233
8         8     0.059243
6         6     0.060368
7         7     0.060387
15       15     0.071942
57.98 number1000
    columns  importances
14       14     0.055586
12       12     0.055889
1         1     0.056301
2         2     0.056583
13       13     0.056937
0         0     0.056943
16       16     0.057431
5         5     0.058285
11       11     0.058316
4         4     0.058743
3         3     0.058852
9         9     0.058967
10       10     0.058973
8         8     0.059497
6         6     0.060235
7         7     0.060436
15       15     0.072024

In [48]:
#900개의 트리에서 상위 10개의 변수 2 11 1 10 4 8 9 3 7 6 15만을 선택하여 모델 생성
train_x_2 = train_x.loc[:,[16, 5, 11, 3, 10, 8, 9, 4, 7, 6, 15]]
test_x_2 = test_x.loc[:,[16, 5, 11, 3, 10, 8, 9, 4, 7, 6, 15]]
model = RandomForestClassifier(n_estimators = 8*100)#tree의 개수
model = model.fit(train_x_2,train_y)
pred_test = model.predict(test_x_2)
m = confusion_matrix(test_y,pred_test)
acc = np.sum(np.diag(m)/len(test_y))
print("{:0.2f}".format(acc*100))

46.90

In [49]:
#더 정확도가 더 떨어지는 것을 볼 수 있음 그냥 모든 변수를 다 넣고 하는 것이 젤 좋을 듯
#깊이와 split기준을 제한해 봣으나...default인 auto를 이길 순 없었음...
model = RandomForestClassifier(n_estimators = 800)#tree의 개수
model = model.fit(train_x,train_y)
pred_test = model.predict(test_x)
m = confusion_matrix(test_y,pred_test)
acc = np.sum(np.diag(m)/len(test_y))
print("{:0.2f}".format(acc*100))

58.12

In [67]:
test_dt = test_dt.iloc[:,0:17]
test_dt

            0         1         2   ...        14        15        16
0     0.489617  0.549708  0.477673  ...  0.540830  0.732977  0.417647
1     0.436066  0.561404  0.469553  ...  0.552878  0.420882  0.522353
2     0.420765  0.546784  0.451962  ...  0.554217  0.435149  0.481176
3     0.490710  0.520468  0.423545  ...  0.551539  0.481680  0.665882
4     0.457923  0.504386  0.389716  ...  0.550201  0.479086  0.443529
...        ...       ...       ...  ...       ...       ...       ...
9179  0.491803  0.552632  0.489851  ...  0.508701  0.202173  0.495294
9180  0.493989  0.548246  0.481732  ...  0.502008  0.197309  0.558824
9181  0.495082  0.546784  0.485792  ...  0.502008  0.162127  0.532941
9182  0.489617  0.548246  0.481732  ...  0.503347  0.144131  0.680000
9183  0.488525  0.551170  0.476319  ...  0.499331  0.202010  0.384706

[9184 rows x 17 columns]

In [68]:
#실제 모델은 전체 데이터를 가지고 학습시킬 것 이기 때문에 변수를 바꿈
model = RandomForestClassifier(n_estimators = 800)#tree의 개수
model = model.fit(train_dt,label_train)
pred_test = model.predict(test_dt)

In [70]:
pred_test = pd.DataFrame(pred_test)
pred_test

      0
0     1
1     1
2     1
3     1
4     1
...  ..
9179  1
9180  2
9181  2
9182  2
9183  2

[9184 rows x 1 columns]

In [71]:
pred_test.to_csv(data_path+"/"+"201711514 박주호 과제7.csv")